@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: "700";
    src: url("/fonts/Satoshi-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Satoshi";
    font-weight: "500";
    src: url("/fonts/Satoshi-Medium.woff2") format("woff2");
  }
}
